@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --color-primary: #3792C0;
    --color-primary-hover: #27698a;
    --color-secondary: #2B3033;
    --color-secondary-hover: #1c2022;
    --color-white: #FFF;
    --color-black: #000;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,var(--color-secondary),var(--color-secondary-hover));
    color: var(--color-white);
    width: 100%;
    padding: 20px 40px;
}

.buttonAdote {
    background-color: var(--color-primary);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.buttonAdote:hover {
    background-color: var(--color-primary-hover);
    transition: .5s;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap: 20px;
}

.slides {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    height: 80vh;
    background-color: var(--color-secondary);
}

.lista-de-pets {
    display: flex;
    flex-direction: column;
}

.buttons-pets {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-add-pet {
    padding: 5px 20px;
    background-color: rgb(16, 167, 16);
    border: none;
    border-radius: 5px;
    color: var(--color-white);
}

.button-add-pet:hover {
    background-color: rgb(12, 128, 12);
    transition: .3s;
}

.filter-button {
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid rgb(138, 136, 136);
}

.filter-search {
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.filter-search:hover {
    background-color: var(--color-secondary-hover);
}

.pets {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    gap: 10px;
}

/* exemplo de card */
.ex-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 400px;
    width: 280px;
    border-radius: 5px;
    background-color: rgb(141, 137, 137);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 80px;
    width: 100%;
    background: linear-gradient(to top, var(--color-secondary),var(--color-secondary-hover));
}

.links-items {
    display: flex;
    flex-direction: column;
}

.title-links-items {
    color: var(--color-white);
}

.link-footer {
    color: var(--color-primary);
}

.link-footer:hover {
    color: var(--color-primary-hover);
    text-decoration: underline;
    transition: .3s;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon {
    width: 20px;
}