<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quero Adotar</title>
</head>
<body>
    <header>
        <div class="header">
            <img src="" alt="">
            <a href="">Adote</a>
        </div>
    </header>
    <main>
        <section class="slides"></section>
        <section class="lista-de-pets">
            <div class="filter">
                <input type="text" name="estado" id="iestado" placeholder="Estado">
                <input type="text" name="cidade" id="icdade" placeholder="Cidade">
                <input type="text" name="especie" id="iespecie" placeholder="Espécie">
                <button type="button">Buscar</button>
            </div>
            <div class="pets">

            </div>
        </section>
    </main>
    <footer>
        <div class="links">
            <a href="">Responsabilidades</a>
            <a href="">Quem somos</a>
            <a href="">Quero adotar</a>
            <a href="">Quero ajudar</a>
        </div>
        <div class="redes-sociais">
            <a href="">Instagram</a>
            <a href="">Facebook</a>
            <a href="">Youtube</a>
        </div>
        <div class="logo">
            <img src="" alt="">
        </div>
    </footer>
</body>
</html>