<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/index.css">
    <title>Quero Adotar</title>
</head>
<body>
    <header>
        <div class="header">
            <img src="../assets/images/imageUndefined.png" alt="Logo">
            <a class="buttonAdote" href="sectionPets">Adote</a>
        </div>
    </header>
    <main class="main">
        <section class="slides">
            <p>Aqui estará os slides de noticias</p>
        </section>
        
        <section class="buttons-pets">
            <div class="add-pet">
                <button class="button-add-pet" type="button">Adicionar pet</button>
            </div>
            <div class="filter">
                <input class="filter-button" type="text" name="estado" id="iestado" placeholder="Estado">
                <input class="filter-button" type="text" name="cidade" id="icdade" placeholder="Cidade">
                <input class="filter-button" type="text" name="especie" id="iespecie" placeholder="Espécie">
                <button class="filter-search" type="button">Buscar</button>
            </div>
        </section>
        <section class="pets" id="sectionPets">
            <div class="ex-card" > <p>card do pet</p></div>
            <div class="ex-card" ><p>card do pet</p></div>
            <div class="ex-card" ><p>card do pet</p></div>
            <div class="ex-card" ><p>card do pet</p></div>
            <div class="ex-card" ><p>card do pet</p></div>
            <div class="ex-card" ><p>card do pet</p></div>
            <div class="ex-card" ><p>card do pet</p></div>
            <div class="ex-card" ><p>card do pet</p></div>
            <div class="ex-card" ><p>card do pet</p></div>

        </section>
    </main>
    <footer class="footer">

        <div class="links-items">
            <h2 class="title-links-items">Adote</h2>
            <a class="link-footer" href="#">Responsabilidades</a>
            <a class="link-footer" href="#">Quero adotar</a>
        </div>

        <div class="links-items">
            <h2 class="title-links-items">Apoie</h2>
            <a class="link-footer" href="#">Quem somos</a>
            <a class="link-footer" href="#">Quero ajudar</a>
        </div>

        <div class="infos">
            <div class="redes-sociais">
                <a href="#" target="_blank"><img class="icon" src="../assets/images/instagram.png" alt="Instagram"> </a>
                <a href="#" target="_blank"><img class="icon" src="../assets/images/facebook.png" alt="Facebook"> </a>
                <a href="#" target="_blank"><img class="icon" src="../assets/images/youtube.png" alt="Youtube"></a>
            </div>
            <div class="logo">
                <img src="../assets/images/imageUndefined.png" alt="Logo">
            </div>
        </div>
    </footer>
</body>
</html>